.roboto > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  /* background-color: black; */
  color: black;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
nav {
  background-color: rgb(101, 101, 156);
  color: white;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background-color: cornflowerblue;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightblue;
}
.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid yellow;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: aqua;
  font-weight: 400;
}

.slider {
  background: url(./images/b1.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71%);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sliderWrapper {
  display: flex;
  width: 500vw;
  height: 100%;
  transition: all 1.5s ease-in-out;
}
.sliderItem {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: cornflowerblue;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  z-index: 1;
}
.sliderTitle {
  position: absolute;
  top: 8%;
  left: 0.5%;
  font-size: 45px;
  font-weight: 900;
  color: aliceblue;
  z-index: 1;
}
.sliderDesc {
  position: absolute;
  bottom: 8%;
  right: 4%;
  font-size: 30px;
  font-weight: 300;
  color: aliceblue;
  border: 1px solid grey;
  z-index: 1;
}
.visitButton {
  position: absolute;
  top: 8%;
  right: 5%;
  font-size: 30px;
  font-weight: 900;
  /* color: grey; */
  border: 1px solid grey;
  z-index: 1;
  cursor: pointer;
  border-radius: 10%;
  padding: 5px 10px;
}
.visitButton:hover {
  background-color: black;
  color: white;
}
.sliderItem:nth-child(1) .sliderBg,
.sliderItem:nth-child(1) .visitButton {
  background-color: yellow;
}

.sliderItem:nth-child(2) .sliderBg,
.sliderItem:nth-child(2) .visitButton {
  background-color: #369e62;
}

.sliderItem:nth-child(3) .sliderBg,
.sliderItem:nth-child(3) .visitButton {
  background-color: rebeccapurple;
}

.sliderItem:nth-child(4) .sliderBg,
.sliderItem:nth-child(4) .visitButton {
  background-color: teal;
}

.sliderItem:nth-child(5) .sliderBg,
.sliderItem:nth-child(5) .visitButton {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(1) .sliderDesc,
.sliderItem:nth-child(1) .sliderTitle {
  color: yellow;
}
.sliderItem:nth-child(2) .sliderDesc,
.sliderItem:nth-child(2) .sliderTitle {
  color: #369e62;
}

.sliderItem:nth-child(3) .sliderDesc,
.sliderItem:nth-child(3) .sliderTitle {
  color: rebeccapurple;
}

.sliderItem:nth-child(4) .sliderDesc,
.sliderItem:nth-child(4) .sliderTitle {
  color: teal;
}

.sliderItem:nth-child(5) .sliderDesc,
.sliderItem:nth-child(5) .sliderTitle {
  color: cornflowerblue;
}
.imagesArea {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reviewImg {
  width: 100px;
  height: 100px;
}
.reviewTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
.reviewDesc {
  color: grey;
  width: 50%;
  height: 100px;
}

.product {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
}
.productImg {
  width: 50%;
}
.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}
.productTitle {
  font-size: 75px;
  font-weight: 900;
  color: grey;
}
.productDesc {
  font-style: 24px;
  color: gray;
}
.productPrice {
  color: grey;
}
.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}
.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #333;
  display: inline-block;
}
.color:nth-child(2) {
  background-color: white;
  border: 1px solid black;
}
.color:nth-child(3) {
  background-color: burlywood;
}
.color:nth-child(4) {
  background-color: turquoise;
}
.color:last-child {
  background-color: purple;
}
.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-style: 20px;
}
.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.productButton:hover {
  background-color: white;
  color: black;
}
.selectProduct {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
}
